doctype html
html
  head
    meta(name='viewport' content='initial-scale=1')
    title
    link(rel='stylesheet' type='text/css' href='./css/style.css')
    //- script(src='js/require.js' data-main='./js/bootstrap.js')
  body
    h1
      | Hello Gulp
    h2
      | h2
    h3
      | h3
