doctype html
html
  head
    meta(name='viewport' content='initial-scale=1')
    title
      | Hello ES6
    script(src='./js/script.js')
    script(src='./js/test.babelify.js')
    script(src='./js/arrow.babelify.js')
    script(src='./js/class.babelify.js')
    script(src='./js/block-scoping.babelify.js')
    script(src='./js/promises.babelify.js')`
    script(src='./js/rest-default.babelify.js')
    script(src='./js/object-literals.bablify.js')

  body
    h2
      | Hello ES6
